html, body, .main { /*.main class is an angular thing*/
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 50px;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #333333;
}

@media (min-width:768px) {
    body {
        padding-top: 80px;
        font-size: 16px;
    }
}

#contentwrap {
    width:100%;
    position: absolute;
    min-height: 100%;
}

@media(min-width:768px) {
    #contentwrap { /*wraps the container so that we get 12 columns NEXT TO the sidebar*/
        position: relative;
    }
    #main { /* id main is the html element with padding to make the sidebar/container play nice */
        padding-left:260px;
        margin-bottom:-80px;
    }
}

.container {
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
}

@media(max-width:767px) {
    .container {
        padding-left: 15px;
    }
}

.container-fluid {
    padding:0px !important;
}

.row {
    margin-bottom: 40px;
}

.card .row {
    margin-bottom: 0;
}

.page-title > .row {
    margin: 0px;
    padding: 0px;
}

.sidebar a, .navbar a {
    color:#ffffff;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}


/* necessary garbage, see - https://stackoverflow.com/a/7310398/4885507 */
.imgCenterer {
    height: 350px;      /* equals max image height */
    /*width: 160px;*/
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.imgCenterHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centeredImg {
    vertical-align: middle;
}

.full-width {
    width:100%;
    height:auto;
}

.specieRepeater {
    position: relative;
    display: inline-block;
}

.whitefade:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.5);
}

.specieSelect {
    float:left ;
    position: relative;
    z-index: 1000;
    transform: translateY(-70%);
    width: 100%;
}

.framed {
    border: 1px solid #acacac;
    border-radius: 5px;
}

.card {
    border: 1px solid #acacac;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.cardMain {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gameCard {
    position:relative;
    height: 200px;
}

.itemCard {
    position: relative;
    height: 270px;
    width: 270px;
    padding: 20px 0px;
    text-align: center;
}

.itemTitle {
    font-weight: bold;
}

.itemCard img {
    width: 60%;
    margin-bottom: 15px;
}

.itemCard .circlecheckbox {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: 10px;
	width: 22px;
	height: 22px;
    border:3px solid #acacac;
	border-radius: 100%;
	position: relative;
}
.itemCard .circlecheckbox > label {
	width: 22px;
	height: 22px;
    font-size: 26px;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	top: -5px;
	left: -3px;
}

#viewItemDetail * {
    display: block;
}
#viewItemDetail img{
    width: 100%;
}
#viewItemDetail h2 {
    margin-top: 0px;
}
@media(min-width:768px) {
    #viewItemDetail .modal-md {
        width: 700px;
    }
}
@media(max-width:767px) {
    #viewItemDetail {
        text-align: center;
        vertical-align: central;
    }
    #viewItemDetail .btn,  #viewItemDetail select {
        margin-left: auto;
        margin-right: auto;
    }
    #viewItemDetail p {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}
#viewItemDetail .btn-primary, #viewItemDetail select  {
    margin-bottom: 20px;
} #viewItemDetail .btn-primary, #viewItemDetail select , #viewItemDetail p {
    max-width: 400px;
    width: 100%;
}

.gameCard img {
    width: 100%;
    min-height: 100%;
}

.gameTitle {
    
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-shadow: 1px 2px 4px black; 
    text-align: right;
    padding: 0px 20px;
    left: 0px;
    bottom: 0px;
}

.gameSearchBar {
    background-color: #ebebeb;
    padding: 30px 30px 0;
}

.gameSearchBar h2 {
    margin-top: 6px;
}

.gameSearchBar input[type=text], .gameSearchBar select {
    width: 66.66% !important;
    display: inline-block;
}

.gameSearchBar .btn {
    width: 30%;
    display: inline-block;
}

.gameSearchBar .form-inline {
    margin-bottom: 30px;
}

.gameTitleBackground {
    height: 285px;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 0px;
    color: white;
}  
.gameTitleBackground h1 { text-shadow: 1px 2px 4px black; }

.aboutGame {
    padding: 20px 20px;
}

.aboutGame > .gameShots img{
    width: 100%;
    margin: 10px 0px;
}

.thumbnail {
    border-color: #acacac;
}

a.thumbnail:hover, .thumbnail:focus, .thumbnail:active {
    border-color: #12a6da;
    box-shadow: 0px 0px 8px rgba(18, 166, 218, 0.25);
    -webkit-box-shadow: 0px 0px 8px rgba(18, 166, 218, 0.25);
}

/*
 * Typography
 * --------------------------------------------------
 */

h1, h2 { font-family: 'Bubblegum Sans';}

h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }

@media (max-width:767px) {
    h1 { font-size:30px;}
}


a {color: #12a6da;}

a:hover, a:focus {color: #0F8DBA;}

.page-title {
    background-color: #ebebeb;
    border-bottom: 1px solid #acacac;
    width:100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.page-title * {
    margin-left: 15px;
}
.page-title * {
    margin-top: 0px;
}
.nav-tabs {
    display:block;
    width: 100%;
    height: 45px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: none;
    padding: 20px 0px;
}
.messageUser {
    text-decoration: none !important;
    font-weight: bold;
    color: black;
    width: 200px;
}
tr {
    border-bottom: 1px solid;
    border-color: #acacac;
    border-width: 1px;
}
tr td:nth-child(1) {
    padding-left: 10px !important;
}

table {
    border: 1px solid #acacac;
}
.messagePreview { 
    padding: 15px 3px;
}
.buttons {
    padding: 30px 0px;
}
.buttons button {
    margin-right: 15px;
}

.messagePreview .messageSubject, .messagePreview .messageUser {
    font-weight: bold;
}
.read {
    font-weight: normal !important;
}

.inlineblock {
    display: inline-block !important;
}
.centered {
    text-align: center;
}

.passwordMismatch {
    color: #EF4137;
}

.breadcrumb-circle {
    width: 2em !important;
    height: 2em;
    border-radius: 50%;
    padding-top: 0.3em;
    color: white;
    margin-right: 10px;
}
.bc-active {
    background-color: #12a6da;
}
.bc-inactive {
    background-color: #acacac;
}
.breadcrumb {
    margin-bottom: 20px;
    background-color: transparent;
    padding-left: 0px;
    font-size: 14px;
    color: #333333;
}

.breadcrumb>li+li:before {
    display:none;
}

.breadcrumb>.active {
    color: #333333;
}

.breadcrumb>.inactive {
    color: #acacac;
}

.breadcrumb li {
    padding-right: 10px;
}

@media (max-width: 767px) {
    .breadcrumb li {
        display:block;
        padding-bottom:10px;
    }
}


.text-breadcrumb {
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
}

.text-breadcrumb > a {
    text-decoration: underline;
    margin-left: 0px;
    margin-right: 0px;
}

/*
 * Forms
 * --------------------------------------------------
 */

form input, form select {
    margin-bottom:20px;
}

.form-control {
    border: 1px solid #acacac;
    padding: 10px 14px;
    height: auto;
    font-size: inherit;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #12a6da;
    box-shadow: 0px 0px 8px rgba(18, 166, 218, 0.25);
    -webkit-box-shadow: 0px 0px 8px rgba(18, 166, 218, 0.25);
}

select .placeholder {
    color: #acacac!important;
}

/*
 * Navs
 * --------------------------------------------------
 */

.navbar{
    height: 80px;
    border: none;
    color: white;
    background-color: #12a6da;
    padding-right:120px;
}
.menu-expand {
    background-image: none;
    background-color: transparent;
    padding: 9px 10px;
    border: none;
    font-size: 24px;
}

.navbar-brand {
    padding: 24px 33px;
}

.navbar-right {
    padding-top: 18px;
}

.optional-topbar {
    height: 50px !important;
}

.optional-topbar > button {
    margin-top: 7px;
    float: left;
}
.optional-topbar > h1 {
    margin-top: 5px;
}

#sidebar {
    background-color: rgba(8,158,210,1);
    background-image: url("img/print-pattern.png"), -moz-linear-gradient(top, rgba(8,158,210,1) 0%, rgba(103,205,69,1) 100%);
    background-image: url("img/print-pattern.png"), -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,158,210,1)), color-stop(100%, rgba(103,205,69,1)));
    background-image: url("img/print-pattern.png"), -webkit-linear-gradient(top, rgba(8,158,210,1) 0%, rgba(103,205,69,1) 100%);
    background-image: url("img/print-pattern.png"), -o-linear-gradient(top, rgba(8,158,210,1) 0%, rgba(103,205,69,1) 100%);
    background-image: url("img/print-pattern.png"), -ms-linear-gradient(top, rgba(8,158,210,1) 0%, rgba(103,205,69,1) 100%);
    background-image: url("img/print-pattern.png"), linear-gradient(to bottom, rgba(8,158,210,1) 0%, rgba(103,205,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#089ed2', endColorstr='#67cd45', Grad*/ientType=0 );
    background-repeat: repeat;
}
#sidebar, #sidebar-placeholder {
    width: 260px;
    height: 100% !important;
    float:left;
}

#sidebar-nav ul {
    padding-left: 0;
}

#sidebar-nav ul li {
    display: block;
    padding: 10px 30px;
    font-family: 'Bubblegum Sans';
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    border-left: 3px solid transparent;
}

#sidebar-nav ul li:hover, #sidebar-nav ul li:focus, #sidebar-nav ul li:active {
    border-left: 3px solid #FFAE35;
}

#sidebar-nav .nav-icon {
    padding-right: 15px;
}

#sidebar-nav li:hover .nav-icon, #sidebar-nav:focus .nav-icon, #sidebar-nav:active .nav-icon {
    transform: rotate(-10deg);
}

#sidebar-nav ul a, #sidebar-nav ul a:hover, #sidebar-nav ul a:focus {
    color: #ffffff;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    z-index: 1000;
    margin-left:-260px;
}

@media(max-width:768px){
    .sidebar {
        margin-top: 50px;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .sidebar-offcanvas {
    /*position: relative;*/
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .sidebar-offcanvas {
    left: -270px; 
  }
  .sidebar-offcanvas.active {
    left: 260px;
  }

  .sidebar-offcanvas {
    top: 0;
  }
}

.mobileInfopane {
    padding-top: 20px;
    padding-left: 33px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .mobileInfopane {
        display: none;
    }
}

.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}
iframe {
    width: 100%;
    height: 100%;
}

.exit-fullscreen {
    position:fixed !important;
    top:0;
    left:0;
    z-index: 999999 !important;
}

.go-fullscreen {
    width:30%;
}

.gameHolder {
    height: 800px;
}

[hidden],template{display:none !important}

/*
 * Button Styling
 * --------------------------------------------------
 */

.btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 14px;
}

.btn-lg {
    font-family: 'Bubblegum Sans';
    font-weight: 400;
    font-size: 48px;
    padding: 22px 36px;
}

@media(max-width:768px) {
    .btn-lg {
        font-size: 24px;
        padding: 11px 18px;
    }
}

.btn-sm {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-xs {
    font-size: 12px;
    padding: 1px 5px;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active:hover {
    background-color: #EBEBEB;
    border-color: #ACACAC;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover {
    background-color: #12a6da;
    border-color: #12a6da;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active:hover {
    background-color: #68BD45;
    border-color: #68BD45;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover {
    background-color: #FFAE35;
    border-color: #FFAE35
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active:hover {
    background-color: #EB5050;
    border-color: #EB5050;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active:hover {
    color: #12a6da;
}

.btn i.fa {
    padding-right:5px;
}

/* Button Hover Animation */
.btn {
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.btn::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -.75em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: rgba(0,0,0,.15);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s, opacity 0.15s;
	transition: transform 0.25s, opacity 0.15s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    opacity: 0;
}

.btn:hover::before, .btn:focus::before {
	opacity: 1;
    -webkit-transform: scale3d(15, 15, 1);
	transform: scale3d(15, 15, 1);
}

.btn:active {
    position: relative;
    top:1px;
}
.btn:focus, .btn:active:hover {
    outline:0;
}

/* Circle Checkbox */
.circlecheckbox > input[type=checkbox]{
   	visibility: hidden;
}
.circlecheckbox {
	width: 22px;
	height: 22px;
    border:3px solid #acacac;
	border-radius: 100%;
	position: relative;
}
.circlecheckbox > label {
	width: 22px;
	height: 22px;
    font-size: 26px;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	top: -5px;
	left: -3px;
}
.circlecheckbox > input[type=checkbox]:checked + label > .fa {
    color: #68bd45;
}
.circlecheckbox > label > .fa {
    color:transparent;
}

.messageslink {
    position: relative;
}
.notificationCircle {
    background: #ffae35;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding-bottom: 5px;
    position: absolute;
    top: -130%;
    right: 0px;
    text-align: center;
    font-weight:bold;
    font-size:14pt;
}

.notificationCircle > * {
    position: relative;
    top: -10%;
}

.popover-repeater {
    border-top: 1px solid #acacac;
    width: 100%;
    padding: 10px 15px;
}

.notification-header {
    width: 100%;
    text-align: center;
    font-size: 18px; 
    padding: 5px 0px;

}

.notifications-bubble {
    border-radius: 0px;
    width:375px;
    margin: 0px;
}

.popover {
    max-width: 500px;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid #acacac;
}

.popover-content {
    padding: 0px;
}

/*
 * Modal Styling
 * --------------------------------------------------
 */

.modal-header, .modal-footer {
    border: none;
}

.modal-body {
    padding-left: 30px;
    padding-right: 30px;
}
@media(min-width:768px) {
    .modal-sm {
        width: 400px;
    }
}

/*
 * User Thumbnail
 * --------------------------------------------------
 */

.userThumb {
    background: #ebebeb;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    border: 1px solid #acacac;
    margin-right: 10px;
}


/*
 * Messaging
 * --------------------------------------------------
 */

.messagePreview td {
    vertical-align: middle !important;
}

@media (max-width: 767px) {
    .messageSubject, .messageText, .messageDate {
        font-size: 14px;
    }

    .messagePreview tr {
        padding: 10px;
    }

    .messagePreview td {
        display: block !important;
        float: left;
        padding: 0 0 5px 0 !important;
    }

    .messageDate {
        float: right;
    }

    .userThumb {
        width: 30px;
        height: 30px;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 490px;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 710px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 910px;
    }
}

@media all and (min-width: 1460px) {
    .container {
        width: 1170px;
    }
}




