<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/critters?autoReconnect=true</property>
        <property name="connection.username">*******</property>
        <property name="connection.password">*******</property>
        <!--<property name="hbm2ddl.auto">validate</property>-->
        <mapping class="com.critters.dal.entity.User" />
        <mapping class="com.critters.dal.entity.Pet" />
        <mapping class="com.critters.dal.entity.Pet$PetColor" />
        <mapping class="com.critters.dal.entity.Pet$PetSpecies" />
        <mapping class="com.critters.dal.entity.Item" />
        <mapping class="com.critters.dal.entity.Item$ItemDescription" />
        <mapping class="com.critters.dal.entity.Item$ItemClassification" />
        <mapping class="com.critters.dal.entity.Item$ItemRarityType" />
        <mapping class="com.critters.dal.entity.Friendship"/>
        <mapping class="com.critters.dal.entity.Store"/>
        <mapping class="com.critters.dal.entity.NPCStoreRestockConfig"/>
        <mapping class="com.critters.dal.entity.GameThumbnail"/>
        <mapping class="com.critters.dal.entity.StoreBackgroundImageOption"/>
        <mapping class="com.critters.dal.entity.StoreClerkImageOption"/>
        <mapping class="com.critters.dal.entity.UserImageOption"/>
        <mapping class="com.critters.dal.entity.NPC"/>
        <mapping class="com.critters.dal.entity.QuestInstance"/>
        <mapping class="com.critters.dal.entity.QuestInstance$StoryQuestStep"/>
        <mapping class="com.critters.dal.entity.NPCItemQuestPreferenceConfig" />
        <mapping class="com.critters.dal.entity.NPCQuestResponseConfig" />
        <mapping class="com.critters.dal.entity.NPCQuestRewardConfig" />

    </session-factory>
</hibernate-configuration>
