<form (ngSubmit)="onSubmit()" #accountCreateForm="ngForm">
    <h1>Sign Up, Dumb-Dumb</h1>

    <ol class="breadcrumb">
        <li class="active"><div class="breadcrumb-circle bc-active inlineblock centered">1</div> Account Info</li>
        <li><a routerLink="/signUp-2"><div class="breadcrumb-circle bc-inactive inlineblock centered">2</div> User Details</a></li>
        <li><a routerLink="/signUp-3"><div class="breadcrumb-circle bc-inactive inlineblock centered">3</div> Create A Pet</a></li>
    </ol>


    <input type="email" name="emailAddress" [(ngModel)]="user.emailAddress" placeholder="email address" required />
    <input type="text" name="userName" placeholder="userName" [(ngModel)]="user.userName" required />
    <input type="password" name="password" placeholder="password" [(ngModel)]="user.password" required />
    <input type="password" name="password" placeholder="confirm password" [(ngModel)]="confirmPassword" required />
    <input type="date" name="birthdate" placeholder="birthday (MM/DD/YYYY)" [(ngModel)]="user.birthdate" required />
    <input type="text" name="firstName" placeholder="first name" [(ngModel)]="user.firstName" required />
    <input type="submit" value="Next"/>
</form>