<div class="container-fluid">
    <div class="page-title">
        <h1>Pick A Pet!</h1>
    </div>
</div>
<div class="container-fluid container-maxWidth">
    <form (ngSubmit)="onSubmit()" #accountCreateForm="ngForm">

        <ol class="breadcrumb">
            <li><a routerLink="/signUp"><div class="breadcrumb-circle bc-inactive inlineblock centered">1</div>Account Info</a></li>
            <li><a routerLink="/signUp-2"><div class="breadcrumb-circle bc-inactive inlineblock centered">2</div>User Details</a></li>
            <li class="active"><div class="breadcrumb-circle bc-active inlineblock centered">3</div>Create A Pet</li>
        </ol>
        <div class="row">
            <div class="col-sm-12">
                <h2>Select your pet's color</h2>
            </div>
            <div *ngFor="let color of colors">
                <div class="col-md-3">
                    <a class="thumbnail">
                        <img src="https://i.imgflip.com/1gjc7j.jpg" (click)="colorChange(color)" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Select your pet's species</h2>
            </div>
            <div *ngFor="let specie of species">
                <div class="col-md-3 centered" [ngClass]="{'whitefade': (specie == activeSpecies) && showOptions }" (click)="onPetSelect(specie)">
                    <a class="specieRepeater inlineblock thumbnail full-width">
                        <img src="../img/{{specie.petTypeName}}{{activeColor}}.png" /> <br />
                        <b>{{specie.petTypeName}}</b>
                    </a>
                    <div class="specieSelect centered" *ngIf="specie == activeSpecies && showOptions">
                        <div class="btn btn-primary" (click)="showInfo($event)" data-toggle="modal" data-target="#viewSpecies"><i class="fa fa-info-circle"></i>Info</div>
                        <br /><br />
                        <div class="btn btn-success" (click)="confirmSpecies($event)"><i class="fa fa-check-circle"></i>Select</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="petAndColorSelected && confirmedSpecies" class="row">
            <div class="col-sm-12">
                <h2>Customize your pet</h2>
            </div>
            <div class="col-md-3">

                <p> <b>{{petName}}</b> the <b>{{activeColorObject.petColorName}} {{activeSpecies.petTypeName}}</b></p>
            </div>
            <div class="col-md-6">
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" value="female" name="sexSelect" [(ngModel)]="activeSex"> Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="male" name="sexSelect" [(ngModel)]="activeSex"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="other" name="sexSelect" [(ngModel)]="activeSex"> Other
                    </label>
                </div>
                <input class="form-control" type="text" name="petName" placeholder="pet name" [(ngModel)]="petName" required />

                <p *ngIf="petAndColorSelected"> {{petName}} the {{activeColorObject.petColorName}} {{activeSpecies.petTypeName}}</p>
                <input class="btn btn-primary" [disabled]="!petAndColorSelected" type="submit" value="CREATE!" />
            </div>
        </div>

    </form>

    <div id="viewSpecies" *ngIf="activeSpecies" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" style="font-size:16px;"></span></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4"><img src="../img/{{activeSpecies.petTypeName}}{{activeColor}}.png" /></div>
                        <div class="col-md-8"><h1>{{activeSpecies.petTypeName}}</h1><p>{{activeSpecies.speciesDescription}}</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
