<div class="container-fluid">
    <div class="page-title">
        <h1>Give us the deets, dummy</h1>
    </div>
</div>

<div class="container">
    <form (ngSubmit)="onSubmit()" #accountCreateForm="ngForm">

        <ol class="breadcrumb">
            <li><a routerLink="/signUp"><div class="breadcrumb-circle bc-inactive inlineblock centered">1</div>Account Info</a></li>
            <li class="active"><div class="breadcrumb-circle bc-active inlineblock centered">2</div>User Details</li>
            <li><a routerLink="/signUp-3"><div class="breadcrumb-circle bc-inactive inlineblock centered">3</div>Create A Pet</a></li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios" [(ngModel)]="user.sex" value="female">
                        Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios" [(ngModel)]="user.sex" value="male">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios" [(ngModel)]="user.sex" value="other">
                        Other
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios" [(ngModel)]="user.sex" value="Prefer not to say">
                        Prefer not to say
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="last name" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="city" placeholder="city" [(ngModel)]="user.city" required />
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="state" placeholder="state" [(ngModel)]="user.state" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="country" placeholder="country" [(ngModel)]="user.country" required />
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="postcode" placeholder="postcode" [(ngModel)]="user.postcode" required />
                    </div>
                </div>
                <!-- <select placeholder="choose a gender" name="sexSelect" [(ngModel)]="user.sex" required>
                    <option value="" disabled selected style="display: none;">Gender</option>
                    <option *ngFor="let sex of ['male', 'female', 'other']" [ngValue]="sex">{{sex}}</option>
                </select>-->

                <input class="btn btn-primary" type="submit" value="Next" />
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <img src="https://i.imgflip.com/1gjc7j.jpg" />
            </div>
        </div>
    </form>
</div>