<div class="container-fluid">
    <div class="page-title"><h1>Create Your Account!</h1></div>
</div>
<div class="container-fluid container-maxWidth">
    <form (ngSubmit)="onSubmit()" #accountCreateForm="ngForm">


        <ol class="breadcrumb">
            <li class="active"><div class="breadcrumb-circle bc-active inlineblock centered">1</div>Account Info</li>
            <li><a routerLink="/signUp-2"><div class="breadcrumb-circle bc-inactive inlineblock centered">2</div>User Details</a></li>
            <li><a routerLink="/signUp-3"><div class="breadcrumb-circle bc-inactive inlineblock centered">3</div>Create A Pet</a></li>
        </ol>

        <div class="row">
            <div class="col-md-6">

                <p>Enter your basic account details — your username will be the name that other players identify you be, and your first name will be visible on your profile.</p>

                <input class="form-control" type="email" name="emailAddress" [(ngModel)]="user.emailAddress" placeholder="email address" required />

                <input class="form-control" type="text" name="userName" placeholder="userName" [(ngModel)]="user.userName" required />
                <input class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="user.password" required />

                <input class="form-control" type="password" name="password" placeholder="confirm password" [(ngModel)]="confirmPassword" required />

                <div class="row">
                    <div class="col-sm-6">
                        <select class="form-control" name="birthmonthSelect" [(ngModel)]="birthMonth" (ngModelChange)="onChange($event)">
                            <option class="placeholder" value="" disabled selected>Birth Month</option>
                            <option *ngFor="let month of months" [ngValue]="month">{{month.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" name="birthdaySelect" [(ngModel)]="birthDay" (ngModelChange)="onChangeDay($event)">
                            <option class="placeholder" value="" disabled selected>Birth Day</option>
                            <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                        </select>
                    </div>
                </div>

                <input class="form-control" type="text" name="firstName" placeholder="first name" [(ngModel)]="user.firstName" required />
                <input class="btn btn-primary" type="submit" value="Next" />
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <img src="https://i.imgflip.com/1gjc7j.jpg" />
            </div>
        </div>
    </form>
</div>