<!-- Normal Navbar -->
<nav class="navbar-fixed-top navbar hidden-xs"> 
    <div class="navbar-left navbar-brand"><img src="../img/Logo.svg" /></div>
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <div class="inlineblock" *ngIf="!app.loggedIn">
                <button type="button" data-toggle="modal" data-target="#log-in" class="btn btn-warning">Login</button>
                <a routerLink="/signUp" class="btn btn-link">Sign Up!</a>
            </div>
            <div [hidden]="!app.loggedIn">
                <div class="inlineblock">{{user.userName}}</div>
                <a href="javascript:void(0)" class="messageslink" data-toggle="popover" data-trigger="focus" (click)="deliverAlerts()"><img class="userThumb" src="{{user.userImagePath}}"/> <span class="notificationCircle" [hidden]="alerts.length == 0"><div>{{ alerts.length }}</div></span></a>
                <div class="notifications-bubble-container hide">
                    <div class="notifications-bubble">
                        <div class="notification-header">
                            <a routerLink="/messages">Go to Mailbox!</a>
                            <div *ngIf="alerts == null || alerts.length == 0">
                                No new notifications!
                            </div>
                        </div>
                       
                        <div *ngIf="alerts != null" > <!----(blur)="clearAlerts()">-->
                            <div class="popover-repeater" *ngFor="let note of alerts">
                                <div *ngFor="let msg of note.messages">
                                    <div>
                                        <p><b>{{msg.sender.userName}}</b> sent you a message <span style="float:right">{{msg.dateSent | date:'yMdjm'}}</span></p>
                                        <p *ngIf="msg.messageSubject != null || msg.messageSubject.length > 0">{{msg.messageSubject | limitTo:15 }}</p>
                                    </div>
                                </div>
                                <div *ngFor="let friend of note.friendRequests">
                                    <div><p>{{friend.requester.firstName}} {{friend.requester.lastName}} wants to be your friend!</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a routerLink="/inventory">Inventory!</a>
            </div>
        </div>
    </div>
</nav>

<nav class="centered navbar optional-topbar navbar-fixed-top visible-xs">
    <button type="button" class="menu-expand collapsed navbar-left inlineblock" data-toggle="offcanvas" data-target="#sidebar">
        <span class="fa fa-bars"></span>
    </button>
    <h1>CRITTER</h1>
</nav>

<!--Mobile Navbar-->

<div id="main">
    <div class="sidebar-offcanvas sidebar" id="sidebar">
        <div class="mobileInfopane">
            <div class="inlineblock" *ngIf="!app.loggedIn">
                <button class="btn btn-warning" type="button" *ngIf="!user.emailAddress.length > 0" data-toggle="modal" data-target="#log-in">Login</button>
                <a class="btn btn-link" routerLink="/signUp">Sign Up!</a>
            </div>
            <div *ngIf="app.loggedIn" class="inlineblock">{{user.userName}}</div>
        </div>

        <nav id="sidebar-nav">
            <ul>
                <a routerLink="/games"><li><img class="nav-icon" src="../img/games-icon.svg" />Games</li></a>
                <a href="#"><li><img class="nav-icon" src="../img/world-icon.svg" />World</li></a>
            </ul>

            <a href="/CritterGames/Minesweeper">MineSweeper</a><br />
            <a href="/CritterGames/Breakout">Breakout</a><br />
            <a href="/CritterGames/SpaceInvaders">Space Invaders</a><br />
            <a href="/CritterGames/Snake">Snake</a><br />

            <div class="sidebarSearch form-inline">
                <input (keyup.enter)="search()" [(ngModel)]="searchString" type="text" placeholder="Search..." class="form-control input-sm" />
                <button (click)="search()" class="btn btn-warning btn-sm"><i class='fa fa-search'></i></button>
            </div>
            
        </nav>
    </div>
    <!--<div id="sidebar-placeholder" class="hidden-xs"></div>-->
    <div id="contentwrap">
            <router-outlet></router-outlet>
    </div>
</div>
<br /><br />

<login></login>
<error></error>
<confirmDialog></confirmDialog>

