<nav class="centered navbar-fixed-top navbar navbar-default" style="background-color: #12a6da">
    <div class="container">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>

        <div class="navbar-header">
            CRITTER
            <button type="button" *ngIf="!user.emailAddress.length > 0" data-toggle="modal" data-target="#log-in">Login</button>
            <a routerLink="/signUp">Sign Up!</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar" id="sidebar">
        <div class="">
            <a href="#">Link</a><br /><br /><br />
            <a href="#">Link</a><br />
            <a href="#">Link</a><br />
            <a href="#">Link</a><br />
            <a href="#">Link</a><br />
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<br /><br/>

<login></login>
