<div class="container-fluid container-maxWidth">
    <div class="row">
        <div class="col-sm-12">

            <h2 *ngIf="app.loggedIn">Welcome back {{user.userName}}</h2>
            <h3>Here are your friends</h3>
            <div *ngFor="let friend of user.friends">
                Friendship: <br />
                <p>{{friend.requester.userName}} ------- {{friend.requested.userName}} | accepted? {{friend.accepted}} </p>
            </div>
            <p>
                <!-- Standard button -->
                <button type="button" class="btn btn-default">Default</button>

                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary">Primary</button>

                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success">Success</button>

                <!-- Contextual button for informational alert messages -->
                <button type="button" class="btn btn-info">Info</button>

                <!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning">Warning</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger">Danger</button>

                <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                <button type="button" class="btn btn-link">Link</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-default btn-lg">Large button</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-default">Default button</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-default btn-sm">Small button</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                <button type="button" class="btn btn-default btn-xs">Extra small button</button>
            </p>
            <h1>Heading 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis finibus mi. Nulla et rutrum elit. Sed sed mi id orci porttitor varius quis eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lacinia quam in tristique maximus. In feugiat a urna sit amet sagittis. </p>
            <h2>Heading 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis finibus mi. Nulla et rutrum elit. Sed sed mi id orci porttitor varius quis eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lacinia quam in tristique maximus. In feugiat a urna sit amet sagittis. </p>
            <h3>Heading 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis finibus mi. Nulla et rutrum elit. Sed sed mi id orci porttitor varius quis eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lacinia quam in tristique maximus. In feugiat a urna sit amet sagittis. </p>
            <h4>Heading 4</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis finibus mi. Nulla et rutrum elit. Sed sed mi id orci porttitor varius quis eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lacinia quam in tristique maximus. In feugiat a urna sit amet sagittis. </p>
            <h5>Heading 5</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis finibus mi. Nulla et rutrum elit. Sed sed mi id orci porttitor varius quis eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lacinia quam in tristique maximus. In feugiat a urna sit amet sagittis. </p>
            <h6>Heading 6</h6>
            <p class="overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis finibus mi. Nulla et rutrum elit. Sed sed mi id orci porttitor varius quis eget est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lacinia quam in tristique maximus. In feugiat a urna sit amet sagittis. </p>

        </div>
    </div>
</div>