<div id="mainView" [hidden]="activeGame.gameName!=null"> <!--games room-->
    <div class="container-fluid">
        <div class="page-title">
            <h1>Game Room</h1>
        </div>
    </div>
    
    <div class="container">
        <div id="specialGame" class="row">
            <div class="col-md-12 card">
                <div class="col-md-6">
                    <h2>Daily Double</h2>
                    <p>Earn double cbuxx when you play {{specialGame.gameName}}</p>
                    <p>
                        {{specialGame.gameDescription}}
                    </p>
                    <span class="btn btn-primary btn-lg" (click)="selectGame(specialGame)">Play now! <i class="fa fa-play-circle-o"></i></span>
                </div>
                <div class="col-md-6 centered">
                    <div class="imgCenterer">
                        <span class="imgCenterHelper"></span> <!--necessary garbage see  https://stackoverflow.com/a/7310398/4885507 -->
                        <img class="framed centeredImg" src="{{specialGame.gameIconPath}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 card gameSearchBar">
                <h2 class="inlineblock">Find a Game</h2>
                <div class="inlineblock">
                    <input type="text" class="form-control" placeholder="keyword search"/> <div class="btn btn-md btn-primary">search</div>
                </div>
                <div class="inlineblock">
                    <select class="form-control inlineblock" name="gameCategory">
                        <option class="placeholder" value="" disabled selected>Category</option>
                        <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
                    </select>
                    <div class="btn btn-md btn-primary">search</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let game of games">
                <!--TODO paginate-->
                <div class="card" (click)="selectGame(game)">
                    <div class="cardMain inlineblock">
                        <img src="{{game.gameIconPath}}" />
                    </div>
                    <div class="gameTitle"> <h2>{{game.gameName}}</h2> </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="activeGameDescription" [hidden]="activeGame.gameName==null || playGame">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card gameTitleBackground" [ngStyle]="{'background-image': 'url(' + activeGame.gameIconPath + ')'}">
                    <div class="col-md-4"> <h1 class="inlineblock">{{activeGame.gameName}}</h1> </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"> <div class="btn btn-primary btn-lg" (click)="togglePlayGame()">Play now! <i class="fa fa-play-circle-o"></i></div> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="card col-md-12 aboutGame">
                    <div class="col-md-7 gameDesc">
                        <h2>About the Game</h2>
                        <p>{{activeGame.gameDescription}}</p>
                    </div>
                    <div class="col-md-5 gameShots">
                        <img class="framed" src="http://i.onionstatic.com/avclub/5599/14/16x9/960.jpg" />
                        <br />
                        <img class="framed" src="https://i.ytimg.com/vi/AjyZN-fXN3M/maxresdefault.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card highScores">
                    <h3>Your High Score</h3>
                    <span>927fixme</span>
                    <hr />
                    <h3>Overall High Scores</h3>
                    <p>lel                   1337</p>
                </div>
            </div>
        </div>
        <p> </p>
    </div>
</div>

<div id="activeGame"  [hidden]="activeGame.gameName==null || !playGame">
    <div class="container-fluid">
        <div class="btn btn-primary" (click)="togglePlayGame()">Back!</div>
        <a class="btn btn-primary" routerLink="/games">Back to Games!</a>

        <h1>{{activeGame.gameName}}</h1>

        <div id="gameBind"></div>
        <div class="gameHolder centered"><iframe [src]="this.domSanitizer.bypassSecurityTrustResourceUrl(activeGame.gameURL)" [ngClass]="{'fullscreen': isFull, 'notFull': !isFull}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

        <p (click)="toggleFull()">Go full!</p>
        <a [hidden]="!this.isFull" class="btn btn-danger btn-sm exit-fullscreen" (click)="toggleFull()">Exit Fullscreen</a>

        <div align="center" id="embed-html"></div>
    </div>
</div>