<div class="container-fluid">
    <div class="page-title">
        <h1>Inventory</h1>
        <div>
            <input type="text" [(ngModel)]="searchText" /> <button class="btn btn-primary" (click)="searchGames()">search</button>
            <select name="gameSort" [(ngModel)]="activeSortBy" (ngModelChange)="onChange($event)">
                <option *ngFor="let sort of sorts" [ngValue]="sort">{{sort}}</option>
            </select>
        </div>
    </div>
</div>
<div class="container">
    <div class="inlineblock">
        <!----------------------DETAIL VIEW------------------>
        <div id="viewItemDetail" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div *ngIf="activeItemGroup.length > 0" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" style="font-size:16px;"></span></button>
                        <h1>{{activeItemGroup[0].description.itemName}}</h1>
                    </div>
                    <div>
                        <select placeholder="Action" name="itemActionSelect" [(ngModel)]="selectedAction" required>
                            <option *ngFor="let act of itemActions" [ngValue]="act">{{act.text}}</option>
                        </select>
                    </div>

                    {{activeItemGroup[0].description.itemDescription}}
                    <input type="button" (click)="submitItem()" value="Submit" />
                </div>
            </div>
        </div>


        <!----------------------MAIN VIEW------------------>
        <div id="mainView">
            <div>
                <div class="buttons">
                    <button class="btn btn-primary">bulk select</button>
                    <div class="conditionalButtons inlineblock">
                        <!--<button class="btn btn-default" [ngClass]="{'hide' : selectedConversations.length == 0 }"><i class="fa fa-trash-o"></i> delete</button>
                        <button class="btn btn-default" [ngClass]="{'hide' : selectedConversations.length == 0 }"><i class="fa fa-envelope-open-o"></i> mark as unread</button>-->
                    </div>
                </div>
 
                <div class="row">
                    <div class="col-md-4" *ngFor="let item of inventory; let i = index">
                        <div class="card itemCard" (click)="viewItem(item)" data-target="#viewItemDetail">
                            <div class="circlecheckbox" (click)="selectItem($event, item)">
                                <input type="checkbox" value="1" [attr.id]="'inventoryCheckbox' + i" [(ngModel)]="item.selected" name="" />
                                <label [attr.for]="'inventoryCheckbox' + i">
                                    <i class="fa fa-check-circle fa-2"></i>
                                </label>
                            </div>
                            <img class="framed centeredImg" src="../img/dog_octarine.png" />
                            <div class="itemTitle">
                                {{item.inventoryItemsGrouped[0].description.itemName}} <br />
                            </div>
                            <div>
                                Qty: {{item.inventoryItemsGrouped.length}}
                            </div>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
