<div class="container-fluid">
    <div class="page-title">
        <h1>Mail</h1>
    </div>
</div>
<div class="container-fluid container-maxWidth">
        <!----------------------CONVERSATION VIEW------------------>
        <div id="viewDetail" *ngIf="activeConversation!=null">
            Conversation view
            <div *ngFor="let message of activeConversation">
                <div class="messageSubject">{{message.messageSubject}}</div>
                <div><span>From: <a class="messageUser">{{message.sender.userName}}</a> | {{message.dateSent.toLocaleString()}}</span></div>
                <br />
                <p>{{message.messageText}}</p>
                <input type="button" (click)="reply(message)" value="reply" /> <input type="button" (click)="deleteConversation(message)" value="Delete Message" />

                <div id="reply" *ngIf="replyMessage != null && newMessage!=null && replyMessage.messageID == message.messageID">
                    Subject: <input type="text" [(ngModel)]="newMessage.messageSubject" /> <br />
                    Message: <textarea [(ngModel)]="newMessage.messageText"></textarea><br />
                    <input type="button" (click)="sendMessage()" value="Send" />
                    <input type="button" (click)="cancelReply()" value="Stop Editing" />
                </div>
            </div>
            <input type="button" (click)="replyLatest()" value="Reply Latest" />
            <input type="button" (click)="returnToOverview()" value="Back to Messages" />
            <input type="button" (click)="deleteConversation(activeConversation)" value="Delete Conversation" />
        </div>


        <!----------------------COMPOSE VIEW------------------>
        <div id="composeNew" *ngIf="activeConversation==null && newMessage!=null">
            To: <autocomplete *ngIf="composeToFriend == null"
                              [autocomplete-local-func]="searchFriends" [autocomplete-remote-func]="searchUsers" (result-out)="onItemSelected($event)"></autocomplete>
            <span *ngIf="composeToFriend != null">{{composeToFriend.userName}} <a (click)="deselctComposeFriend()">X</a></span>
            <br />
            Subject: <input type="text" [(ngModel)]="newMessage.messageSubject" /> <br />

            Message: <textarea [(ngModel)]="newMessage.messageText"></textarea><br />
            <input type="button" (click)="sendMessage()" value="Send" />
            <input type="button" (click)="cancelCompose()" value="Stop Editing" />
        </div>


        <!----------------------MAIN VIEW------------------>
        <div id="mainView" *ngIf="activeConversation==null && newMessage == null">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-toggle="tab" href="#inbox">Inbox</a></li>
                <li role="presentation"><a data-toggle="tab" href="#sent">Sent</a></li>
                <li role="presentation"><a data-toggle="tab" href="#friends">Friends</a></li>
            </ul>
            <div class="tab-content">

                <div id="inbox" class="tab-pane fade in active">
                    <div class="buttons">
                        <button class="btn btn-primary" (click)="composeNewMessage()"><i class="fa fa-plus"></i> New Message</button>
                        <button class="btn btn-default" (click)="selectAll()"><i class="fa fa-check-circle"></i> select all</button>
                        <div class="conditionalButtons inlineblock">
                            <button class="btn btn-default" (click)="affectSelectedInbox(true)" [ngClass]="{'hide' : selectedConversations.length == 0 }"><i class="fa fa-trash-o"></i> delete</button>
                            <button class="btn btn-default" (click)="affectSelectedInbox(false)" [ngClass]="{'hide' : selectedConversations.length == 0 }"><i class="fa fa-envelope-open-o"></i> mark as unread</button>
                        </div>
                    </div>

                    <table class="table">
                        <tr class="messagePreview" [ngClass]="{'read' : !isUnread(conversation) }" *ngFor="let conversation of messages; let i = index">
                            <td> 
                                <div class="circlecheckbox" (click)="selectConversation($event, conversation)">
                                    <input type="checkbox" value="1" [attr.id]="'inboxCheckbox' + i" [(ngModel)]="conversation.selected" name="" /> 
                                    <label [attr.for]="'inboxCheckbox' + i" >
                                        <i class="fa fa-check-circle"></i>
                                    </label >
                                </div>
                            </td>
                            <td (click)="viewDetail(conversation)" class="inlineblock messageUserThumb">
                                <span>
                                    <a [routerLink]="['/viewUser/', conversation.messages[0].sender.userID]">
                                        <img src="/img/horrible clion_red.png" class="userThumb" />
                                    </a>
                                </span>
                            </td>
                            <td (click)="viewDetail(conversation)" class="inlineblock messageUser">
                                <span>
                                    <a [routerLink]="['/viewUser/', conversation.messages[0].sender.userID]" class="messageUser">
                                        {{conversation.messages[0].sender.userName}}
                                    </a>
                                </span>
                            </td>
                            <td class="inlineblock" (click)="viewDetail(conversation)">
                                <div class="messageSubject inlineblock">
                                    {{conversation.messages[0].messageSubject | limitTo:50}}
                                    <div *ngIf="conversation.messages[0].messageSubject == null || conversation.messages[0].messageSubject.length == 0"> [No Subject] </div> —
                                </div>
                                <div class="messageText">{{conversation.messages[conversation.messages.length -1].messageText | limitTo:120 }}</div>
                            </td>
                            <td class="inlineblock messageDate" (click)="viewDetail(conversation)">
                                {{conversation.messages[conversation.messages.length -1].dateSent | date:'short'}}
                            </td>
                        </tr>
                    </table>

                    <div class="buttons">
                        <button class="btn btn-primary" (click)="composeNewMessage()"><i class="fa fa-plus"></i> New Message</button>
                        <button class="btn btn-default" (click)="selectAll()"><i class="fa fa-check-circle"></i> select all</button>
                        <div class="conditionalButtons inlineblock">
                            <button class="btn btn-default" (click)="affectSelectedInbox(true)" [ngClass]="{'hide' : selectedConversations.length == 0 }"><i class="fa fa-trash-o"></i> delete</button>
                            <button class="btn btn-default" (click)="affectSelectedInbox(false)" [ngClass]="{'hide' : selectedConversations.length == 0 }"><i class="fa fa-envelope-open-o"></i> mark as unread</button>
                        </div>
                    </div>
                </div>

                <div id="sent" class="tab-pane fade in">
                    <div class="buttons">
                        <button class="btn btn-primary" (click)="composeNewMessage()"><i class="fa fa-plus"></i> New Message</button>
                        <button class="btn btn-default" (click)="selectAll()"><i class="fa fa-check-circle"></i> select all</button>
                        <div class="conditionalButtons inlineblock">
                            <button class="btn btn-default" (click)="affectSelectedSentbox(true)" [ngClass]="{'hide' : selectedMessages.length == 0 }"><i class="fa fa-trash-o"></i> delete</button>
                        </div>
                    </div>

                    <table class="table">
                        <tr class="messagePreview" *ngFor="let message of sentMessages; let i = index">
                            <td>
                                <div class="circlecheckbox" (click)="selectMessage($event, message)">
                                    <input type="checkbox" value="1" [(ngModel)]="message.selected" [attr.id]="'sentCheckbox' + i" name="" />
                                    <label [attr.for]="'sentCheckbox' + i">
                                        <i class="fa fa-check-circle fa-2"></i>
                                    </label>
                                </div>
                            </td>
                            <td (click)="viewSentDetail(message)" class="inlineblock messageUser">
                                <span>
                                    <a [routerLink]="['/viewUser/', message.recipient.userID]" class="messageUser">
                                        To: {{message.recipient.userName}}
                                    </a>
                                </span>
                            </td>
                            <td (click)="viewSentDetail(message)" class="inlineblock">
                                <div class="messageSubject inlineblock">
                                    {{message.messageSubject | limitTo:50}}
                                    <div *ngIf="message.messageSubject == null || message.messageSubject.length == 0"> [No Subject] </div> —
                                </div>
                                {{message.messageText | limitTo:120 }}
                            </td>
                            <td (click)="viewSentDetail(message)" class="inlineblock">
                                {{message.dateSent | date:'short'}}
                            </td>
                        </tr>
                    </table>

                    <div class="buttons">
                        <button class="btn btn-primary" (click)="composeNewMessage()"><i class="fa fa-plus"></i> New Message</button>
                        <button class="btn btn-default" (click)="selectAll()"><i class="fa fa-check-circle"></i> select all</button>
                        <div class="conditionalButtons inlineblock">
                            <button class="btn btn-default" (click)="affectSelectedSentbox(true)" [ngClass]="{'hide' : selectedMessages.length == 0 }"><i class="fa fa-trash-o"></i> delete</button>
                        </div>
                    </div>
                </div>



                <div id="friends" class="tab-pane fade">
                    These people want to be your friends!
                    <div *ngFor="let friend of pendingFriendRequests">
                        <div class="messageSubject">
                            <a [routerLink]="['/viewUser/', friend.requester.userID]"
                               class="messageUser">{{friend.requester.userName}}</a> | {{friend.requester.firstName}} {{friend.requester.lastName}}
                        </div>
                        <div><span>Sent on: {{friend.dateSent}}</span></div>
                        <input type="button" (click)="acceptRequest(friend)" value="Accept Friend Request" />
                        <input type="button" (click)="declineRequest(friend)" value="Decline Friend Request" />
                        <br />
                    </div>
                    <br /><br />
                    Your outstanding friend requests
                    <div *ngFor="let friend of outstandingFriendRequests">
                        <div class="messageSubject">
                            <a class="messageUser" [routerLink]="['/viewUser/', friend.requested.userID]">
                                {{friend.requested.userName}}
                            </a> | {{friend.requested.firstName}} {{friend.requested.lastName}}
                        </div>
                        <div><span>Sent on: {{friend.dateSent}}</span></div>
                        <input type="button" (click)="cancelRequest(friend)" value="Cancel Friend Request" />
                        <br />
                    </div>
                </div>
            </div>
        </div>
</div>    