<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{viewStore.name}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-maxWidth">
    <!----------------------DETAIL VIEW------------------>
    <div id="viewItemDetail" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div *ngIf="activeItem" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" style="font-size:16px;"></span></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="activeItem.inventoryItemsGrouped.length > 0 && !actionCompleted">
                        <div class="row">
                            <div class="col-sm-6"><img class="framed" src="{{activeItem.inventoryItemsGrouped[0].description.imagePath}}" /></div>
                            <div class="col-sm-6">
                                <h2>{{activeItem.inventoryItemsGrouped[0].description.itemName}}</h2>
                                <p>{{activeItem.inventoryItemsGrouped[0].description.itemDescription}} -1 this is awful. Basically, you set the width to 100% and then the margin to -50. But is causes other problems, like the button rises above the containing element, and doesn't work well with resizing. </p>
                                <div class="btn btn-success buySpinner">
                                    <div (click)="buy()" class="buyLabel inlineblock">Buy {{selectedQuantity}} </div>
                                    <div (click)="increment()" class="inlineblock"><i style="margin-right:-33%;" class="fa fa-plus"></i></div>
                                    <div (click)="decrement()" class="inlineblock"><i style="margin-right:-33%;" class="fa fa-minus"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="actionCompleted">
                        <h2>Action Complete</h2>
                        <p>{{statusText}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!----------------------MAIN VIEW------------------>
    <div id="shopsMainView">
        <div [ngStyle]="{'background-image': 'url(' + viewStore.storeBackgroundImagePath + ')'}" class="row shopTitle">
            <div class="col-xs-12 col-md-4"> 
                <div class="imgCenterer">
                    <span class="imgCenterHelper"></span> <!--necessary garbage see  https://stackoverflow.com/a/7310398/4885507 -->
                    <img class="shopkeep img-circle centeredImg" src="{{viewStore.storeClerkImagePath}}" />
                </div>
            </div>
            <div class="col-md-8">
                    <h2 class="whiteText">{{viewStore.name}}</h2> <p class="whiteText">{{viewStore.description}}</p>
                    <div class="form-inline">
                        <br /><br />
                        <div class="searchBoxHolder inlineblock">
                            <p class="whiteText">What are you looking for? </p>
                            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="keyword search" /> <button class="btn btn-primary" (click)="searchItems(searchText)">search</button>
                        </div>
                        <div class="sortBoxHolder inlineblock">
                            <p>&nbsp;</p>
                            <select name="itemSort" class="form-control" [(ngModel)]="activeSortBy" (ngModelChange)="onChangeSort($event)">
                                <option *ngFor="let sort of sorts" [ngValue]="sort">{{sort.text}}</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="searchBoxHolder inlineblock">
                <p class="whiteText">What are you looking for? </p>
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="keyword search" /> <button class="btn btn-primary" (click)="searchItems(searchText)">search</button>
            </div>
            <div class="sortBoxHolder inlineblock">
                <p>&nbsp;</p>
                <select name="itemSort" class="form-control" [(ngModel)]="activeSortBy" (ngModelChange)="onChangeSort($event)">
                    <option *ngFor="let sort of sorts" [ngValue]="sort">{{sort.text}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" *ngFor="let item of inventory; let i = index">
                <div class="card itemCard" (click)="viewItem(item)" data-target="#viewItemDetail">
                    <img class="framed centeredImg" src="{{item.inventoryItemsGrouped[0].description.imagePath}}" />
                    <div class="itemTitle">
                        {{item.inventoryItemsGrouped[0].description.itemName}} <br />
                    </div>
                    <div>
                        {{item.inventoryItemsGrouped[0].price}} cbuxx
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>
